* {
  font-family: Helvetica, sans-serif
}

h1 {
  color: DodgerBlue;
}

h3 {
  color: DodgerBlue;
}

h2 {
  color: DodgerBlue;
}

#top {
  background-color: lightgray;
  padding: 10px;
}

.foto {
  height: 100px;
  widht: 100px;
  border-radius: 50%;
  position: absolute
  top: 100px;
  right: 20px;
}
