* {
  font-family: Helvetica, sans-serif
}

header {
  background-color: DodgerBlue;
  color: white;
  display: flex;
  gap: 30px;
  justify-content: space-around;
  flex-direction: center;
  align-itens: center;
  height: 40px;
}

.menu {
  display: inline-block;
  width: 100px;
}

.menu > p {
  display: inline-block;
  width: 300px;
}

h1 {
  color: DodgerBlue;
}

h3 {
  color: DodgerBlue;
}

h2 {
  color: DodgerBlue;
}

#top {
  background-color: lightgray;
  padding: 10px;
}

.foto {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: white 5px solid;
  position: absolute;
  top: 80px;
  right: 15%;
  z-index: 1000;
}

.whatsapp {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 1;
}

footer {
  text-align: center;
  background-color: lightgray;
  line-height: 1.5rem;
  font-size: small;
}

nav a{
  color: white;
}

@media (max-width: 600px) {
  .foto {
  height: 100px;
  width: 100px;
  }
}
