* {
  font-family: Helvetica, sans-serif
}

h1 {
  color: DodgerBlue;
}

h3 {
  color: DodgerBlue;
}

h2 {
  color: DodgerBlue;
}

#top {
  background-color: lightgray;
  padding: 10px;
}

.foto {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: 20px;
}

.whatsapp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: 60px;
  right: 20px;
  z-index: 1;
}
